.container{
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    background: #0384A8 url(/images/head.jpg) no-repeat top;
    height: 220px;
}
.header {
    background: url(/images/logo.jpg) no-repeat;
    height: 220px;
    padding-left: 520px;
    padding-top: 70px;
}
.logo{
    position: absolute;
    top: 0px;
    left: 12%;
}
.header h1{
    top: 37%;
    left: 45%;
    color: #FFF;
    font-family: STZhongsong;
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
}

.guide ul{
    display: table;
    width: 1252px;
    margin: 0 auto;
}
 
.guide a{
    height: 50px;
    text-align: center;
    color: #FFF;
    line-height: 50px;
    background-color: #006986;
    text-decoration: none;
}



.end{
    background-color:  #006986;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 135px;
    padding-top: 10px;
}
.about p{
    line-height: 30px;
}