*{
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    text-align: center;
    position: relative;
    margin-bottom: -4px;
}
.logo{
    position: absolute;
    top: 0px;
    left: 12%;
}
.h1{
    top: 37%;
    left: 46%;
    color: #FFF;
    font-family: STZhongsong;
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
}
.guide ul{
    display: inline-block;
    margin-left: 10.9%;
}
.guide li{
    float: left;
    list-style: none;
}
.guide a{
    display: inline-block;
    top: 0;
    width: 178.8px;
    height: 50px;
    text-align: center;
    color: #FFF;
    line-height: 50px;
    background-color: #006986;
    text-decoration: none;
}
